<!DOCTYPE html>
<html>
  <head>
    <title>Nerds of Play</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Nerds of Play", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to " #{current_user.username}", current_user %>
          </li>
          <% else %>
          <li>
            <%= link_to "Log In", new_user_session_path %>
          </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
        <p>
          <%= link_to " New Post", new_message_path, method: :get, class: "navbar-right navbar-text navbar-link" %>
        </p>
        <% end %>
      </div>
    </div>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%- flash.each do |name, msg| -%>
      <div class="alert alert-warning">
        <strong><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></strong>
      </div>
    <%- end -%>
    <div class="col-md-8 col-md-offset-2">
      <!--It is confusing that this is a link to the root path, which we are already on....maybe make it just and h1 -->
                            <h1 class="quest"><%= link_to "Ready to Quest?", root_path %></h1>
                          </div>
    <div class="container">
		<%= yield %>
	</div>
  </body>
</html>
